
.card-body h2{
    line-height: 1em;
    padding: 0;
    margin: 0;
}
.card-body h2 a {
  text-align: center;
    font-size: 1.0em !important;
    color: #252525;
    font-weight: 300 !important;
    font-weight: bold;
  }


  .card-body h2 a:hover{
    font-size: 3.0em;
    color: #39a848;
    font-weight: bold;
}

.btn .btn-success{
  font-size: 0.9em !important;
}