.store-messages{
    text-align: left;
}
h2.card-title {
    padding: 0.5em 0;
    line-height: 1.2em;
}

.store-page h1{
    padding: 1em 0 0.5em;
    line-height: 2.2em;
}

.card-image img{
    margin: 10px 20px 0px 20px;
}

.card-box{
    text-align: left;
    padding: 0 30px;
}