.product-list h2{
  margin-top: 30px;
}
.product-wap {
   /* border: 1px solid #ddd;*/
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .product-wap:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  .product-overlay ul li a {
    background-color: rgba(40, 167, 69, 0.9);
    transition: background-color 0.3s;
  }
  
  .product-overlay ul li a:hover {
    background-color: rgba(40, 167, 69, 1);
  }
  
  .card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover .card-img-overlay {
    opacity: 1;
  }
  .card .product-wap  img {
    width: 100%;
  }

  .list-group-item a{
    text-align: left;
    font-size: 0.8em;
  }

  .container-fluid {
    padding: 0 !important;
  }
  
  .row {
    margin: 0 !important;
    // gx-0 že odstrani horizontalni razmik
    // gy-3 doda minimalen vertikalni razmik
  }
  
  .col-md-4 {
    padding: 0 !important;
  }
  
  .product-wap {

    .card {
      border: none;
      // Odstranite nepotrebne margine, če jih ne želite
      margin: 0;
    }
  
    img {
      max-width: 100%;
      height: 250px; // poljubna max višina
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }
  }
  .title-row {
    width: 103%;
    margin-bottom: 10px;
  }
  .col-md-3 {

    width: 30%;
  }
.selected-category {
    /*font-weight: bold;*/
  }
  li:has(span.selected-category) {
    background-color: #f1f1f1; /* Želeno ozadje */
  }
  .list-group-item{
    border: none;
  }
  .list-group-item:hover{
    background-color: rgb(255, 239, 216); /* Želeno ozadje */
  }
  // Po potrebi dodatno prilagodite razmike med elementi
  