.list-group-item.libreak{
    background-color: #f1f1f1 ;

}
.list-group-item a{
    margin-left: 10px;
    cursor: pointer;
    color: #212529;
    text-decoration: underline;
    text-decoration: none;
}

