// Extra small screen / phone
$screen-xs-min: 480px;

// Small screen / tablet
$screen-sm-min: 768px;

// Medium screen / desktop
$screen-md-min: 992px;

// Large screen / wide desktop
$screen-lg-min: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

/*@import "compass/css3";*/

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
/*@import "compass/reset";*/
$fontSans : 'Montserrat', sans-serif;
$fontSerif : 'Droid Serif', serif;









@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
*{ box-sizing:border-box;}




img {
 max-width:100%;
}
.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}


.wrap {
width: 75%;
/* max-width: 960px;*/
margin: 0 auto;
padding: 5% 0;
margin-bottom: 5em;

}

// CART HEADER
.heading {
padding: 1em 0;

h1 {
 font-family: $fontSerif;
 font-size: 2em;
 float: left;
}
a.continue {
  &:link , &:visited {
    text-decoration: none;
    font-family: $fontSans;
    letter-spacing: -.015em;
    font-size: .75em;
    padding: 1em;

    font-weight: bold;
    border-radius: 50px;
  float: right;
    text-align: right;
     @include transition(all, .25s, linear);
  }
  &:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right:0;
     @include transition(all, .15s, linear);
    
  }
  &:hover , &:focus, &:active {

    
    &:after {
      right: -10px;
    }
  }
}
}
.cart-button{
padding:  0.2rem 0.75rem;
margin-left: 1em;
}
// TABLE HEADING 

.tableHead {
display: table;
width: 100%;
font-family: $fontSans;
font-size: .75em;
li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
  &.prodHeader {
    text-align: left;
  }
}
}

// CART Items

.cart {
padding: 1em 0 ;

.items {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em;
 
  border-bottom: 1px solid #fafafa;
  &.even {
    background: #fafafa;
  }
  .infoWrap {
    display: table;
    width: 100%;
  }
  .cartSection {
    display: table-cell;

    vertical-align: middle;
    
    
    .itemNumber {
font-size: .75em;
      color: #777;
      margin-bottom: .5em;
}
    
    h3 {
 
      font-size: 0.75em;
    font-family: $fontSans;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .025em;
      
       
    }
    p {
      display: inline-block;
      font-size: .85em;
      
      color: #777777;
      font-family: $fontSans;
          .quantity {
      font-weight: bold;
            color: #333;
    }
     /*
      &.stockStatus {
        color: rgb(60, 207, 212);
        font-weight: bold;
        padding: .5em 0 0 1em;
        text-transform: uppercase;
        &.out {
          color: #F69679;
        }
      }
      */
      
    }
    .itemImg {
      width: 4em;
     
      float: left;
    }
    &.qtyWrap , &.prodTotal {
      text-align: center;
  p {
    font-weight: bold;
    font-size: 0.85em;
  }
     
    }
    
  input.qty {
      width: 2em;
      text-align: center;
      font-size: 1em;
        padding: .25em;
    margin: 1em .5em 0 0;
      
    }
    .itemImg {
      width: 8em;
      display: inline;
      padding-right: 1em;
    }
     

  }
}

}   

.special {
 display: block;
 font-family: $fontSans;
.specialContent {
 padding: 1em 1em 0;
  display: block; 
 margin-top:.5em;
 &:before {
   content: "\21b3";
   font-size: 1.0em;
    margin-right: 1em;
   font-family: helvetica, arial, sans-serif;
 }}

}
.btn-remove{

}
a.remove {
text-decoration: none;
font-family: $fontSans;

font-weight: bold;

padding: .5em;
font-size: .75em;
display: inline-block;
border-radius: 25px;
line-height: .85;
 @include transition(all, .25s, linear);
/*  &:hover {

}*/
}

.promoCode {
border:2px solid #efefef;
float: left;
width: 35%;
padding: 2%;
label {
  display: block;
  width: 100%;
font-style: italic;
  font-size: 1.15em;

  margin-bottom: .5em;
  letter-spacing: -.025em;
  
}
input {
  width: 85%;
  font-size: 1em;
  padding: .5em;
  float: left;
  &:active, &:focus {
    outline: 0;
   
  }
}
a.btn {
  float: left;
  width: 15%;
  padding: .75em 0;
  border-radius: 0 1em 1em 0;
  text-align: center;

}
}

.clear-cart-button{
/* float: left;*/
padding: 1px 7px;
border-radius: 15px;
display: block;
border-radius: 25px;
font-weight: normal;
}
.btn {
   &:link , &:visited {
    text-decoration: none;
    font-family: $fontSans;
    letter-spacing: -.015em;
    font-size: 1em;
    padding: 1em 3em;

    font-weight: bold;
    border-radius: 50px;
  float: right;
    text-align: right;
     @include transition(all, .25s, linear);
  }
    &:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right:0;
     @include transition(all, .15s, linear);
    
  }
  &:hover , &:focus, &:active {

      &:after {
      right: -10px;
    }
  }

.promoCode & {
  font-size: .85em;
  paddding: .5em 2em;
}
}

/* TOTAL AND CHECKOUT  */
.subtotal {
float: right;
width: 55%;
.totalRow {
  padding: .5em;
 text-align: right;
 list-style: none;

  &.final {
    font-size: 1.25em;
    font-weight: bold;
  }
  span {
    display: inline-block;
    padding: 0 0 0 1em;
    text-align: right;
   
  }
  .label {
     font-family: $fontSans;
    font-size: .85em;
    text-transform: uppercase;
    color: #777;
  }
  .value {

    letter-spacing: -.025em;
    width: 35%;
  }
}
}

@media only screen and (max-width:39.375em){

.wrap {
width: 98%;
padding: 4% 0;
}

.heading {
padding: 1em;
font-size: 90%;
}
.cart {

.items {


.cartSection {
  width: 90%;
    display: block;float: left;
   &.qtyWrap {
     width: 10%;
    text-align: center;
     padding: .5em 0;
     float: right;
     &:before {
       content: "QTY";
       display: block;
       font-family: $fontSans;
       padding: .25em;
       font-size: .75em;
     }
   }
   &.prodTotal , &.removeWrap { 
     display: none;
   }
  .itemImg {
    width: 25%;
  }
}
}}
.promoCode , .subtotal{
width: 100%;
}

a.btn.continue {
width: 100%;
text-align: center;
}
}
/*
.dropdown__select  li{
list-style: none;
}
*/

.shipping-dropdown {
  width: 200px;
  font-weight: 300;
 /* background-color: yellow;*/
  list-style: none;

  
  &__switch:checked + &__options-filter &__select {
    transform: scaleY(1);
    opacity: 1;
  }
  
  &__switch:checked + &__options-filter &__filter:after {
    transform: rotate(-135deg);
  }
  
  &__options-filter {
    width: 100%;
    cursor: pointer;
  }

  &__filter {
    position: relative;
    display: flex;
    padding: 15px;
    color: #595959;
    background-color: #fff;
    border-radius: 18px;
    font-size: 12px;
    transition: .3s;
    
    &:focus {
      outline: none;
    }

    &::after {
      position: absolute;
      top: 45%;
      right: 20px;
      content: '';
      width: 10px;
      height: 10px;
      border-right: 1px solid #595959;
      border-bottom: 1px solid #595959;
      transform: rotate(45deg) translateX(-45%);
      transition: .3s ease-in-out;
    }
  }

  &__select {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 3px;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 18px;
    opacity: 0;
    transition: .2s ease-in-out;
  }

  &__select-option {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e9ecef;
    transition: .3s;

    &:last-of-type {
      border-bottom: 0;
    }

    &:hover {
      background-color: #e9ecef;
    }
  }	
}

/*  DROPDOWN */


.select-box {
position: relative;
display: block;
width: 70%;
font-size: 18px;
float: right;
/*margin-bottom: 20px;*/
}
.selectboxli span {
  padding: 18px 10px !important;
}
.selectboxli {

}
.select-box__current {
position: relative;
box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
cursor: pointer;
outline: none;
}
.select-box__current:focus + .select-box__list {
opacity: 1;
-webkit-animation-name: none;
        animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
cursor: pointer;
}
.select-box__current:focus .select-box__icon {
-webkit-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
position: absolute;
top: 50%;
right: 15px;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
width: 20px;
opacity: 0.3;
transition: 0.2s ease;
}
.select-box__value {
display: flex;
}
.select-box__input {
display: none;
}
.select-box__input:checked + .select-box__input-text {
display: block;
}
.select-box__input-text {
display: none;
width: 100%;
margin: 0;
padding: 15px;
background-color: #fff;
text-align: left;
}
.select-box__list {
position: absolute;
width: 100%;
padding: 0;
list-style: none;
opacity: 0;
-webkit-animation-name: HideList;
        animation-name: HideList;
-webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
-webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
-webkit-animation-timing-function: step-start;
        animation-timing-function: step-start;
box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
display: block;
padding: 15px;
background-color: #fff;
text-align: left;
}
.select-box__option:hover, .select-box__option:focus {
color: #546c84;
background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
from {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
to {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
}

@keyframes HideList {
from {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
to {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
}


















@mixin respondTo($media) {
  @if $media == "xs" {
    @media only screen and (max-width: $screen-xs-max) {
      @content;
    }
  }

  @else if $media == "sm" {
    @media only screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
      @content;
    }
  }

  @else if $media == "md" {
    @media only screen and (max-width: $screen-md-max) and (min-width: $screen-md-min) {
      @content;
    }
  }

  @else if $media == "lg" {
    @media only screen and (min-width: $screen-lg-min) {
      @content;
    }
  }
}
@mixin respondToAbove($media) {
  @if $media == "xs" {
    @media only screen and (min-width: $screen-xs-max) {
      @content;
    }
  }

  @else if $media == "sm" {
    @media only screen and (min-width: $screen-sm-min) {
      @content;
    }
  }

  @else if $media == "md" {
    @media only screen and (min-width: $screen-md-min) {
      @content;
    }
  }

  @else if $media == "lg" {
    @media only screen and (min-width: $screen-lg-min) {
      @content;
    }
  }
}
@mixin respondToBelow($media) {
  @if $media == "xs" {
    @media only screen and (max-width: $screen-xs-max) {
      @content;
    }
  }

  @else if $media == "sm" {
    @media only screen and (max-width: $screen-sm-max) {
      @content;
    }
  }

  @else if $media == "md" {
    @media only screen and (max-width: $screen-md-max) {
      @content;
    }
  }

  @else if $media == "lg" {
    @media only screen {
      @content;
    }
  }
}
@mixin respondToTablet {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    @content;
  }
}
@mixin respondToSmall-n-Medium {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max){
    @content;
  }
}
@mixin respondToMobile() {
  @include respondTo(xs){
    @content
      }
}
@mixin respondToDesktop() {
  @include respondToAbove(md){
    @content
      }
}

@mixin close-icon{
  font-size: 0 !important;
  position: absolute;
  height: 40px;
  width: 40px;
  right: 20px;
  top: 20px;   
  font-size: 0px;
  cursor: pointer;
  z-index: 9;
  border: 0;
  background: transparent;
  &:before,&:after{
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: 2px;
    background: #fff;
    width: 50%;
    transition: all .25s;
    opacity: 1; /* popravljeno */
  }
  &:before{
    transform: rotate(45deg);
    opacity: 1;
  }
  &:after{
    transform: rotate(-45deg);
    opacity: 1;
  }
}
.wrapx{
  width: 100% !important;
}
$shadow : 0 6px 10px -2px rgba(0, 0, 0, .25);
$black: #cecece;
$solid: #fff;
$solid_2: #f9a825;
$dbc: #f9f9f9;

.checkout-container {
  width: 100%;
 /* background: $dbc;*/
 min-height: 110vh;

 letter-spacing: 2px;
  @include respondToAbove(sm){
 /*   padding: 10px;*/
    padding-top: 10px;
    /*margin: 0 5%;*/
  }
  @include respondTo(xs){
    padding: 1px;
  }

  &, & *{
    transition: all .25s;
  }
  
  #steps .count{
    max-width: 500px;
  }
  #steps{
    
    margin: auto;
    
    .count{
      list-style-type: none;
      padding: 0px;
      display: flex;
      background: transparent;
      border: none;
      justify-content: space-between;
      position: relative;
      width: 90%;
      margin: 20px auto;
      li{
        pointer-events: none;
        background: transparent;
        border: none;
        text-align: center;
        flex: 1;
        position: relative;
        &:before{
          content: '1';
          display: block;
          width: 40px;
          line-height: 40px;
          height: 40px;
          color: #fff;
          border-radius: 50%;
          background: $solid_2;
          margin: 0 auto 20px;
         /* box-shadow: 0 6px 10px -2px rgba(0, 0, 0, .3);*/
          transition: all .25s;
          position: relative;
          z-index: 1;
        }
        &:after{
          content: '';
          height: 2px;
          background: $solid_2;
          width: 100%;
          position: absolute;
          top: 19px;
          right: 50%;
          z-index: 0;
        }
        &:nth-child(1){
          &:after{
            content: none;
          }
          &:before{
            content: '1';
          }
        }
        &:nth-child(2){
          &:before{
            content: '2';
          }
        }
        &:nth-child(3){
          &:before{
            content: '3';
          }
        }
        &:nth-child(4){
          &:before{
            content: '4';
          }
        }
        &.selected ~ li{
          &:after, &:before{
            background: $black;
          }
        }
      }
    }
    #tabs{
      position: relative;
      width: 100%;
      
      >div{
       /* padding: 0 30px;*/
       width: 100%;
       padding: 20px;
        background: #fff;
      /*  box-shadow: $shadow;*/
       /* max-height: 0;*/
        overflow: hidden;
        transition: all .25s;
       /* border-radius: 10px;*/
        position: relative;
        z-index: 1;
        h1{
          text-align: center;
          margin: 0 0 30px;
          text-transform: uppercase;
            font-size: 25px;
        }
        .input{
          label{
            display: block;
          }
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;

          }
          input:not([type=radio]){
            border: solid 1px #999;
            margin-bottom: 15px;
            height: 40px;
            padding: 5px 15px;
            width: 100%;
            &:focus{
              outline: none;
              border-color: transparent transparent $solid_2;
            }
          }
        }
        >*{
          opacity: 1; /* popravljeno */
        }
        &.active{
          max-height: 500px;
          padding: 30px;
          >*{
            opacity: 1;
          }
        }
        .finish{
          height: 150px;
          width: 150px;
          display: block;
          background: #ccc;
          margin: 20px auto;
          border-radius: 50%;
          position: relative;
          &:before{
            content: '\f00c';
            font-family: fontawesome;
            line-height: 150px;
            color: #aaa;
            font-size: 70px;         
          }
        }
        &#login{
          button{
            float: right;
          }
          p{
            clear: both;
            text-align: center;
          }
        }
        .halfit{
          width: 50%;
          float: left; 
          input{
            width: 90% !important;
          }
        }
        .small{
          input{
            width: 60px !important;
            padding: 5px !important;
          }
        }
        &#payment{
          .back{
            clear: both;
          }
          .flexit{
            display: flex;
            margin: 15px 0;
            input[type=radio]{
              display: none;
              & + label{
                flex: 1;
                padding: 10px;
                position: relative;
                line-height: 20px;
                text-align: center;
                background: $black;
                cursor: pointer;
                color: #fff;
                font-weight: normal;
              }
              &:checked + label{
                flex: 1.5;
                background: $solid_2;
              }
            }
          }
        }
      }
    }
  }
  button{
    background: $solid_2;
    border: 0;
    color: #fff;
    padding: 10px 30px;
    &:focus{
      outline: none;
    }
    &:hover{
      box-shadow: $shadow;
    }
  }
}


.checkout-layout-container{
  display: flex;
  flex-direction: column;
 /* height: 100vh; *//* Višina zaslona */
 min-height: calc(50vh - 200px);
  width: 100%;
}
.checkout-main-content{
  flex: 1; /* Zavzema preostalo višino */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


    /* nav-button left right   */
  .checkout-navigation {
    display: flex;
    justify-content: space-between; /* Razdeli elemente na levo in desno */
    padding: 1rem;
    background-color: #eaeaea; /* Svetlejša siva za navigacijo */
    border-top: 1px solid #ccc; /* Tanek rob zgoraj */
  }

  .nav-button {
    padding: 0.5rem 1rem;
    background-color: #007bff; /* Modra barva gumba */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  

  
  .nav-button:hover {
    background-color: #0056b3; /* Temnejša modra ob preletu */
  }
}
.checkout-form{
  margin: 30px 0 50px;
}
.checkout-navigation{

  .nav-button.step-back {
    text-align: left;
    float: left;
    a{
      &:before{
        content: "❮";
        padding: 0.5em;
        transition: all 0.15s linear;letter-spacing: -0.015em;
    }
      &:after{
        content: "";
      }
    }
  }
  
  .nav-button.right {
    text-align: right;
  }
}



